---
import Layout from "../layouts/Layout.astro"

---

<Layout title="Acerca de">
    <h1>About</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Recusandae, adipisci. Voluptatum fugit id placeat consequuntur facilis quis doloribus, laborum beatae nisi mollitia veritatis. Dicta necessitatibus aut nihil totam nobis accusantium quos tempora alias? Eligendi amet voluptatem ut iusto cupiditate culpa eaque, nobis velit quasi omnis! Nobis, accusantium illum? Maiores error laboriosam temporibus aliquid placeat ex magni totam, praesentium explicabo ducimus, quam in. Eum architecto sit libero, sapiente qui voluptatum molestias asperiores mollitia odit ab, reiciendis veritatis quae officia suscipit hic repellendus. Quo expedita voluptatibus tempora consequuntur veniam dolorum officia sit ipsum labore unde illum necessitatibus impedit vero, quia, cum molestias.</p>
</Layout>